#projects {
  scroll-margin-top: 75px;
}

.projects_title {
  display: flex;
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

.projects_cards_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  justify-items: center;
}

.projects_cards_container a {
  text-decoration: none;
  font-weight: 700;
  color: var(--lt-softred);
}

.project_card {
  background-color: rgb(30, 30, 30);
  padding: 30px 20px 0px;
  width: 400px;
  margin: 35px 15px 0px 15px;
}

.project_card > img {
  width: 400px;
  box-shadow: 7px 12px 46px -9px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 7px 12px 46px -9px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 7px 12px 46px -9px rgba(0, 0, 0, 0.71);
}

.tech img {
  padding: 30px 0px 5px;
}

.card_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0px 0px 25px;
  width: 100%;
  top: 10%;
}

.card_text p {
  font-size: 20px;
  font-weight: 600;
}

.tech {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1080px) {
  .projects_cards_container {
    margin: 50px auto;
  }

  .project_card {
    width: 260px;
  }

  .project_card > img {
    width: 250px;
  }

  .tech img {
    width: 50px;
    padding: 30px 0px 5px;
  }
}
