#certificates {
  scroll-margin-top: 75px;
}

.background_block {
  margin-top: 25px;
  width: 100%;
  background: #181818;
}

.certificates_title {
  padding-top: 40px;
  position: relative;
  display: flex;
  text-align: left;
  width: 60%;
  margin: auto;
  z-index: 1;
}

.cert_container {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  z-index: 1;
}

.cert_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
  width: 260px;
  background-color: rgb(30, 30, 30);
}

.cert_box p {
  position: absolute;
  bottom: 9px;
}

.cert_link {
  text-decoration: none;
  position: absolute;
  bottom: 5px;
  left: 30px;
  color: var(--lt-softred);
  font-weight: 700;
}

.cert_container img {
  height: 150px;
  box-shadow: 7px 12px 46px -9px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 7px 12px 46px -9px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 7px 12px 46px -9px rgba(0, 0, 0, 0.71);
}
